<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:scope="http://www.jiaojing.com/schema/scope" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.jiaojing.com/schema/scope http://www.jiaojing.com/schema/scope.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
   
    
    
    
    <bean id="dosomething" class="com.jiaojing.homework007.DoSomething" />
    <bean  class="com.jiaojing.homework007.MyPostProcessor" />
    
     <!--scope-->
    <bean id="myModel" class="com.jiaojing.L005.Model" scope="thread"/>
   
    <scope:thread id="threadscope"/>
    
    
    <!--place holder-->
    <context:property-placeholder location="classpath:/myproper.properties" />
    <bean id="phtest" class="com.jiaojing.L006Placeholder.PhtestModle">
        <property name="password" value="${password}" />
    </bean>
    <bean id="password_handler" class="com.jiaojing.L006Placeholder.PasswordPostProcessor" />
    
    
    
    
    
   
    

</beans>